body {
  background-color: #FFC09F;
  font-size: 14px;
  color: #157FDB
}

h1 {
  display: block;
  text-align: center;
  color:red;
  font-size: 3em;
  margin-bottom: 3%;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 30%;
  margin-top: -5%;
}

.heading2 {
  margin-left: 5%;
}

.blurb {
  margin-left: 5%;
  font-size: 1.3em;
}

section {
  margin: 5%;
}

.hint-res {
  display: none;
  text-align: center;
  font-size: 1.3em;
  background-color: #db155b;
  color: #1815db;
  font-weight: bold;
  width: 400px;
  padding: 1%;
}

section article {
  font-size: 2em;
}

.prompt {
  display: block;
  background-color: #FFC09F;
  border-radius: 0%;
  width: 100%;
  font-size: 1.3em;
}

.parent .prompt {
  width: 50%;
}

section article {
  display: none;
}

section button {
  display: inline-block;
  font-size: 1.3em;
  border-radius: 10%;
  background-color: #ADF7B6;
}

section textarea {
  font-size: 1.1em;
  padding: 1%;
  width: 400px;
  height: 100px;
}

.parent div {
  display: block;
}


.section1 img {
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}

.section1 .play {
  -webkit-transform:translate(100px);
  transform:translate(100px);
}

.section1 img:hover {
  -webkit-transform:translate(100px);
  transform:translate(100px);
}

.section2 img {
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}

.section2 .play {
  -webkit-transform:translate(25px,-50px);
  transform:translate(25px,-50px);
}

.section2 img:hover {
  -webkit-transform:translate(25px,-50px);
  transform:translate(25px,-50px);
}

.section3 img {
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}

.section3 .play {
  -webkit-transform:scale(1.5,1.5);
  transform:scale(1.5,1.5);
}

.section3 img:hover {
  -webkit-transform:scale(1.5,1.5);
  transform:scale(1.5,1.5);
}


.section4 img {
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}

.section4 .play {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.section4 img:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.section5 img {
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}

.section5 .play {
  -webkit-transition:skew(10deg,10deg);
  transform:skew(10deg,10deg);
}

.section5 img:hover {
  -webkit-transition:skew(10deg,10deg);
  transform:skew(10deg,10deg);
}

.correct {
  background-color: #ADF7B6;
}
